.container {
  background: whtie;
  border: 2px solid salmon;
  /* height: 600px;
  width: 600px; */
  /* border-radius: 50%; */
}

.top-three {
    border-radius: 50%;
    display: flex;
    justify-content: space-around;

}

.top-three div {
    height: 120px;
    width: 120px;
    /* border: 3px solid red; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-left {
    margin-top: 50px;
    border: 3px solid #B0369F;
}

.top-left-wrapper, .top-right-wrapper {
    position:relative;
    /* border: 1px solid ; */
}
.top-left-wrapper p {
    height: 50px;
    width: 3px;
    background: black;
    position: absolute;
    bottom: -88px;
    right: 30px;
    transform: rotate(-30deg);
}

.top-left-wrapper aside {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: deeppink;
    position: absolute;
    bottom: -80px;
    right: 8px;

}

/* top left end  */

.top-right-wrapper p {
    bottom: -88px;
    right: 80px;
    transform: rotate(30deg);
}

.top-right-wrapper aside {
   right: 86px;
}

.top-middle {
    background: #DCF2FF;
}
.top-right{
    margin-top: 50px;
    border: 3px solid #B0369F;
}